<a href="https://colab.research.google.com/github/mansi-121/AIML_exp/blob/main/experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas  as pd

In [10]:
from google.colab import files
uploaded = files.upload()

Saving business-employment-data-Jun-2024-quarter.zip to business-employment-data-Jun-2024-quarter (1).zip

In [12]:
import zipfile

# Open the zip file
with zipfile.ZipFile('business-employment-data-Jun-2024-quarter.zip', 'r') as z:

    # Load the specific CSV file from the zip into a pandas DataFrame
    with z.open('machine-readable-business-employment-data-Jun-2024-quarter.csv') as f:
        data = pd.read_csv(f)

In [8]:
import io

no. of rows and columns

In [13]:
data.shape

(23350, 14)

first five rows of the dataset

In [14]:
data.head(5)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

size of the dataset

In [15]:
data.size

326900

no. of missing values

In [17]:
data.isnull().sum()

Series_reference        0
Period                  0
Data_value           2839
Suppressed          20511
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3          0
Series_title_4      23350
Series_title_5      23350
dtype: int64

sum from the numerical columns.

In [18]:
data.select_dtypes(include='number').sum()

Period            4.710246e+07
Data_value        1.495185e+09
Magnitude         5.374200e+04
Series_title_4    0.000000e+00
Series_title_5    0.000000e+00
dtype: float64

calculating average

In [19]:
data.select_dtypes(include='number').mean()

Period             2017.236176
Data_value        72896.735258
Magnitude             2.301585
Series_title_4             NaN
Series_title_5             NaN
dtype: float64

min and max

In [20]:
data.select_dtypes(include='number').min()

Period            2011.060000
Data_value           1.187001
Magnitude            0.000000
Series_title_4            NaN
Series_title_5            NaN
dtype: float64

In [21]:
data.select_dtypes(include='number').max()

Period               2024.06
Data_value        2321295.00
Magnitude               6.00
Series_title_4           NaN
Series_title_5           NaN
dtype: float64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')